    /* HYML ELEMENTS */
body{
    margin: 0;
    text-align: center;
    font-family: verdana , sans-serif;
    font-family: "Merriweather", serif;
    color: #40514E;
}

h1{
    margin: 50px auto 0 auto;
    color: #66BFBF;
    font-family: "Sacramento", cursive;
    font-size: 5.625rem;
}

h2{
    color: #66BFBF;
    font-family: "Montserrat", sans-serif;
    font-size: 2.5rem;
    padding-bottom: 10px;
}

h3 {
    color:#11999E;
    font-weight: none;
    font-family: "Montserrat", sans-serif;
}

hr{
    border: dotted #EAF6F6 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}

a{
    font-weight: bold;
    color: #11999E;
    font-family: "Montserrat", sans-serif;
    margin: 10px 20px;
    text-decoration: inherit;
}

a:hover{
    color: #eaf6f6;
}
    
            /* CLASS ELEMENTS */
.top-container{ 
    background-color: #EAF6F6;
    position: relative;
    padding-top: 100px;
}

.bottom-cloud{
    position: absolute;
    left: 250px;
}

.top-cloud{
    position: absolute;
    right: 300px;
    top: 30px;
}
p{
    line-height: 2;
}
.my-image{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.middle-container{
    padding: 100px 0;
}

.intro{
    width: 30%;
    margin: auto;
}

.footer-link{
    color:#11999E;
}

.skill-row1{
    width: 50%;
    margin: 5px auto 5px auto;  
    text-align: left;
    line-height: 2;
    padding: 5px 0 0 0;
}

.skill-row2 {
    width: 50%;
    margin: 5px auto 5px auto;
    text-align: left;
    line-height: 2;
    padding: 5px 0 0 0;
}

.skill-image1{
    float: left;
    border-radius: 100%;
    width: 20%;
    height: 15%;
    margin-right: 30px;
}

.skill-image2{
    float: right;
    border-radius: 50%;
    width: 20%;
    height: 15%;
    margin-right: 30px;
}



.contact-me{
    margin-bottom: 30px;
}

.contact-message{
    width: 40%;
    margin: 40px auto 40px auto;
}

.btn{
    background-color:#66BFBF;
    height: 20px;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.btn:hover {
  background: #2e5e5e;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #66BFBF);
  background-image: -moz-linear-gradient(top, #3cb0fd, #66BFBF);
  background-image: -ms-linear-gradient(top, #3cb0fd, #66BFBF);
  background-image: -o-linear-gradient(top, #3cb0fd, #66BFBF);
  background-image: linear-gradient(to bottom, #3cb0fd, #66BFBF);
  text-decoration: none;
}

.bottom-container{
    width: 100%;
    height: 10rem;
    background-color: #66BFBF;
    padding: 50px 0 10px;
}

.copyright{
    color: #EAF6F6;
    font-size: 0.75rem;
    padding: 40px 0;
}
